.banner {
    background: url("images/banner_tet.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
    text-align: center !important;
    color:red; !important;
}
body.bacrau {
    background-color: #f4f1de; 
    font-family: "Times New Roman", Times, serif; 
    color: #3d405b; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


p {
    text-align: justify; 
    font-size: 18px;     
    margin: 15px 20px;   
}

h1 {
    font-size: 32px;
    color: #e07a5f; 
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 26px;
    color: #81b29a; 
    margin-left: 20px;
    display: inline-block;
}

img {
    width: 400px; 
    height: 250px;
    object-fit: cover; 
    display: block;
    margin: 20px auto;
    border: 5px solid #ffffff; 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1); 
}

iframe {
    display: block;      
    margin: 20px auto;   
    border-radius: 15px; 
    border: 5px solid #ffffff; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1px;  
    max-width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
}

.slogan {
    background: linear-gradient(to right, #e67e22, #d35400) !important;
    text-align: center !important;
    padding: 30px 0;
    margin: 10px 0;
}

.block_3 {
    flex: 0 0 auto;
    width: 50%;
}
div#b3a:hover{
    font-size: 105%;
    color: red !important;
}
div#b3b:hover{
    font-size: 105%;
    color: navy !important;
}
.block_3 h1{
    color: white ;
}

.block_3 h2{
    color: white ;
}
.block_3:hover {
    background-color: rgb(250, 224, 110); 
    transform: translateY(-10px);      
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); 
}

.block_3:hover h2, .block_3:hover p {
    color: rgb(139, 0, 0) !important;
ul {
    margin-left: 40px;
    font-weight: bold;
}

footer {
    background-color: #3d405b;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}

footer .link {
    color: #f2cc8f; 
    text-decoration: none;
    margin: 0 10px;
}

nav{
    text-align: center;
}
